*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}
.body{
    /* width: 100vw; */
}
.password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 20px; */
}

.password-input {
    width: 3rem;
    height: 3.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    font-size: 1.8rem;
    margin-right: .5rem;
}

.verification{
    background-image: linear-gradient(rgba(0, 0, 255, 0.178),rgba(0, 0, 255, 0.178)), url('../img/piggy.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: inherit;
    /* border: .25rem solid purple; */
}
.verification form{
    margin: auto;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    backdrop-filter: blur(.25rem);
    /* position: absolute; */
    /* top: 50%; */
    /* left: 20%; */
}
.pin-label{
    font-weight: 800;
    font-size: 1.75rem;
    color:white;
    margin-bottom: 1rem;
}
.verification button{
    width: fit-content;
    font-size: 2rem;
    padding: .5rem 2rem;
    margin-top: 1rem;
    border: none;
    border-radius: .25rem;
    color: rgb(54, 53, 53);
    font-weight: 800;
}
.verification form a{
    color: white;
    align-self: flex-end;
    margin: 1rem;
    font-size: 1rem;
}





/* Dashboard */
.account-dashboard{
    /* border: .25rem solid purple; */
    width: inherit;
    height: 100vh;
    background-color: rgb(201, 200, 200);
    padding: 2rem;
}
.account-dashboard a span{
    font-size: 2rem;
    font-weight: 800;
}


.owner-details{
    width: fit-content;
    padding:1rem;
    font-size: 1.25rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: #eee .25rem solid; */
    width: 30%;
}
.owner-image{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    border: #eee .25rem solid;
}
.owner-name{
    font-size: 2rem;
    font-weight: 700;
}
.balance-details{
    background-color: rgb(220, 219, 219);
    border-radius: 1rem;
    width: fit-content;
    padding: 1rem 2.5rem;
   /* display: flex;
   align-items: center; */
}
.balance-details p{
    font-weight: 600;
}
.balance-details h2{
    font-size: 3rem;
}
.services{
    display: flex;
    gap: 1rem;
    margin-top: 1.25rem;
}
.transfer,.receive{
    height: 10rem;
    width: 10rem;
    background-color: rgb(220, 219, 219);
    border-radius: .25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.icon{
    font-size: 5rem;
}
.history{
    background-color: rgb(220, 219, 219);
    height: fit-content;
    margin-top: 1rem;
}
.history span{
    display: block;
    text-align: center;
    font-size: 2rem;
    background-color: #eee;
    padding: 1rem;
}
@media only screen 
   and (max-width : 749px) {
    .owner-image{
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        /* border: #eee .25rem solid; */
    }
    .balance-details,.owner-details{
        width: 100%;
    }
    .balance-details{
        text-align: center;
    }
    .balance-details p{
        text-align: left;
        padding: 1rem;
    }
     .icon{
       font-size: 3.5rem;
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       text-align: center;
       width: 100%;
       height: 100%;
       /* border: #eee .25rem solid; */
       padding: 2rem;
       background-color: #eee;
    }
    .text{
        text-align: center;
        display: block;
        font-weight: 700;
        padding: 1rem;
        /* width: 100%; */
        /* background-color: #eee; */
    }
    .history{
        height: 45vh;
    }
   }