*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.certificate {
    width: 800px;
    height: 600px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 2rem auto;
    /* background-color: #007bff10; */
}

.logo {
    width: 200px;
    height: auto;
    display: block;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    color: #007bff;
    font-weight: 800;
    font-size: 2rem;
    /* border-bottom: .2rem solid #eee; */
}

h1 {
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 700;
    margin-top: 20px;
    /* margin-bottom: 10px; */
    border-bottom: .2rem solid #eee;
    width: fit-content;
    text-align: center;
    margin:2rem auto;
}
h1 span{
    font-size: 2rem;
    font-weight: 700;
}
p {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 10px;
}

.student-name, .course-name, .date {
    font-weight: bold;
}

.signatures {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    
}
.sign{
    font-family: 'Whisper', cursive;
    font-size: 3rem;
}
.sign-small{
    font-family: 'Whisper', cursive;
    font-size: 2rem;
}
.instructor-signature {
    text-align: center;
}

.instructor-signature img {
    width: 100px;
    height: auto;
    display: block;
    margin: 0 auto;
}
