*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 62.5%;
}

body{
    background-color: white;
    /* background:linear-gradient(rgba(0, 0, 0, 0.511),rgba(0, 0, 0, 0.462)), url(../img/dashboard.jpeg); */
    background-size: cover;
    /* background-position: ; */
    background-repeat: no-repeat;
}
.container{
    position: relative;
}
.dashboard{
    background-color: #007bff;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.grade{
    background-color: white;
    padding: .5rem 1rem;
    width: fit-content;
    /* margin: 2rem; */
    font-size: 1.5rem;
    font-weight: 500;
    color: hotpink;
    border-radius: 3rem;
}
.dashboard h3{
   text-align: center;
   font-size: 2rem;
   /* background-color: black; */
   width: 100%;
}
.courses{
    background-color: white;
}

.courses h2{
    color: black;
    font-size: 2rem;
    padding: 2rem 1rem;
    display: flex;
    justify-content: space-between;
}
.course{
    width: 25rem;
    height: 40vh;
    box-shadow: 1px 1px 5px -1px;
    height: fit-content;
    /* border: .01rem solid #eee; */
    border-radius: .5rem;
}
.courses-display{
    display: flex;
    gap: 2rem;
    padding: 1rem;
}
.course-image,.course-desc{
    /* border: .25rem solid black; */
    height: 50%;
}
.course-image{
    background: linear-gradient(rgba(0, 0, 0, 0.282),rgba(0, 0, 0, 0.266)), url(../img/pexels-ron-lach-7944399.jpg);
    background-size: cover;
    border-top-right-radius: .5rem;
    border-top-left-radius: .5rem;
    padding: .5rem;
    height: 10rem;
}
.course-desc{
    height: 10rem;
    padding: 1rem;
    background-color: rgb(53, 53, 53);
    border-bottom-right-radius: .5rem;
    border-bottom-left-radius: .5rem;
}
.course-title{
    color: white;
    font-weight: 800;
    font-size: 1.5rem;
    text-rendering: optimizeLegibility;
}
.course-code{
    color: white;
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 500;
}
.menu{
    display: none;
}
@media only screen 
   and (max-width : 749px) {
    .courses-display{
        display: block;
    }
    .course{
        width: 100%;
        height: 30vh;
        margin-bottom: 2rem;
        /* border: .25rem solid black; */
        border-radius: .5rem;
    }
    .courses{
        height: fit-content;
    }
    .course-image{
        background-size: cover;
        background-repeat: no-repeat;
        height: 50%;
    }
    .course-desc{
       height: fit-content;
       height: 50%;
    }
    .menu{
        /* background-color: #007bff; */
        border-top: .1rem solid #eee;
        padding: 2rem;
        position: fixed;
        bottom: 0;
        width: 100%;
        display: flex;
       justify-content: space-between;
       align-items: center;
    }
    .menu span{
        font-size: 3rem;
        font-weight: normal;
        color: hotpink;
    }
   }